* {
  background-color: #c7be72;
  color: #100722;
}

h1 {
  font-size: 3.5em;
  font-family: Pacifico, cursive;
  text-align: center;
  margin-bottom: 5px;
}

header img {
  height: 100px;
  width: auto;
  display: block;
  margin: auto;
}

#locations article:nth-of-type(2n) img {
  float: left;
}

#locations article:nth-of-type(2n + 1) img {
  float: right;
}

#about_us img {
  float: right;
}

#about_us p {
  vertical-align: left;
}

#services img {
  float: left;
}

#services p {
  vertical-align: left;
}

hr {
  clear: both;
}

nav p {
  display: inline-block;
  margin: 0 0 0 5%;
  padding: 0;
  width: 15%;
  font-size: 1.2em;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  width: 15%;
}

li a {
  text-decoration: none;
}

article img {
  float: left;
  width: 200px;
  height: auto;
}

table {
  border: 3px solid #d2901f;
  padding: 5px;
  background-color: #1b1605;
}

th {
  color: black;
  background-color: #d6d9b7;
  padding: 5px;
}

td {
  color: black;
  background-color: #d6d9b7;
  padding: 5px;
}
